.columns--grid {
    z-index: 11;
    box-shadow: 0px 15px 30px rgba(32, 77, 111, 0.2);
    position: absolute;
    font-size: 13px;
    color: #1f567e;
    line-height: 32px;
    top: 62px;
    right: 15px;
    transition: 0.5s;
    background: #fff;
    border: 1px solid #ddd;
}
.columns--grid:before {
    width: 0px;
    height: 0px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    content: "";
    top: -10px;
    position: absolute;
    right: 40px;
}
.columns--grid ::-webkit-scrollbar {
    width: 6px;
}
.columns--grid ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.columns--grid ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}
.columns--grid ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
.columns--grid .column__grid {
    display: flex;
}
.columns--grid .column__grid .column__chooser {
    border-right: 1px solid #eee;
}
.columns--grid .column__grid .column__chooser .column__header {
    padding: 10px 10px 2px;
    border-bottom: 1px solid #eee;
}
.columns--grid .column__grid .column__chooser .column__body {
    padding: 10px;
    margin-bottom: 50px;
    height: 405px;
    overflow-y: auto;
    overflow-x: hidden;
}
.columns--grid .column__grid .column__chooser .column__body .column__selectAll {
    display: flex;
}
.columns--grid .column__grid .column__chooser .column__body .custom__ctrl {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 5px;
    width: 93%;
    height: 25px;
    font-size: 11px;
}
.columns--grid .column__grid .column__chooser .column__wrap {
    display: flex;
    border: 1px solid #c6cee0;
    border-radius: 5px;
    padding: 0px 10px;
}
.columns--grid .column__grid .column__chooser .column__wrap .column__txt {
    font-size: 12px;
    color: #3c476f;
}
.columns--grid .column__grid .column__chooser .column__selectAll {
    padding: 0px 10px;
}
.columns--grid .column__grid .column__chooser .column__wrap .column__checkbox,
.columns--grid .column__grid .column__chooser .column__selectAll .column__checkbox {
    margin-right: 10px;
}
.columns--grid .column__grid .column__settings .column__header {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 10px 10px 2px 10px;
}
.columns--grid .column__grid .column__settings .column__header .column__close {
    margin-left: auto;
    font-size: 18px;
    color: #98a3ac;
    cursor: pointer;
}
.columns--grid .column__grid .column__settings .column__body {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 380px;
    width: 768px;
    padding-bottom: 60px;
}
.columns--grid .column__grid .column__settings .column__body .column__reorder {
    border: 1px solid #8da3b4;
    border-radius: 3px;
    text-align: center;
    min-height: 150px;
    margin: 10px 5px;
    padding: 10px 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    min-width: 90px;
    max-width: 90px;
    word-break: break-all;
    line-height: normal;
    font-size: 12px;
}
.columns--grid .column__grid .column__settings .column__body .column__reorder.full-width {
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 80px;
    text-align: left;
    padding-left: 10px;
}
.columns--grid .column__grid .column__settings .column__body .column__reorder .fa {
    margin-bottom: 10px;
}
.columns--grid .column__grid .column__settings .column__body .column__reorder .column__reorder__name {
    word-break: break-all;
    line-height: 15px;
}
.columns--grid .column__grid .column__settings .column__body .column__reorder .column__wrap {
    display: flex;
    justify-content: left;
}
.columns--grid .column__grid .column__settings .column__body .column__reorder .column__wrap .column__checkbox {
    margin-right: 10px;
}
.columns--grid .column__grid .column__settings .column__footer {
    padding: 10px;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 81%;
    display: flex;
    background: #fff;
}
.columns--grid .column__grid .column__settings .column__footer .column__btns {
    margin-left: auto;
}
.columns--grid .column__grid .column__settings .column__footer .column__btns .btns {
    border: 1px solid #0e4bda;
    background: #fff;
    border-radius: 5px;
    width: 98px;
    margin-left: 10px;
    color: #0e4bda;
    height: 32px;
}
.columns--grid .column__grid .column__settings .column__footer .column__btns .btns__save {
    color: #fff;
    background: #034bda;
}
.icon-close {
    font-size: 15px;
}
