/*  Global Styles
*  ------------------------------------------------------ */
htm,
body {
    margin: 0;
}
/*************To be moved to component*/
::placeholder {
    color: #bbb;
}

::-ms-input-placeholder {
    color: #bbb;
}

::-ms-input-placeholder {
    color: #bbb;
}

/*  Application Styles
*  ------------------------------------------------------ */
.flight-details strong {
    display: block;
    color: #3171b2;
}

.segment-details {
    display: flex;
}
.segment-details i {
    margin: 0 7px;
}
.segment-details img {
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    vertical-align: inherit;
}
.segment-details select ::-ms-expand {
    display: none;
}
.segment-details select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 50px;
}
.segment-details select:hover {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    margin: 0;
    padding: 0;
}
.details-wrap ul li {
    display: inline;
    padding-right: 5px;
    margin-right: 5px;
    position: relative;
}
.details-wrap ul li:last-child {
    padding-right: 0;
    margin-right: 0;
}
.details-wrap ul li.divider {
    color: #dadfe9;
}
.details-wrap ul li span {
    color: #566a81;
}
.details-wrap ul li strong {
    color: #ff6666;
}
.weight-details > strong {
    font-size: 15px;
    color: #40bf5c;
}
.weight-details span {
    display: block;
}
.weight-details span strong {
    color: #566a81;
}
.uld-details ul {
    display: flex;
    flex-wrap: wrap;
}
.uld-details ul li {
    margin-bottom: 5px;
    width: 50%;
}
.uld-details strong {
    color: #566a81;
    font-weight: normal;
    margin-left: 7px;
}
.revenue-details span {
    display: block;
    color: #566a81;
}
.revenue-details span.large {
    font-size: 15px;
}
.sr-details span {
    color: #3171b2;
}
.queued-details span {
    display: block;
}
.queued-details span strong {
    font-weight: normal;
    color: #566a81;
}
.row-edit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.row-edit > div {
    margin: 0 10px;
}
.edit-flight-no,
.edit-weight-percentage {
    margin-bottom: 10px;
}
.remarks-edit {
    margin: 0 10px;
}
