@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}

.neo-grid {
    .table {
        border-top: 1px solid var(--border-grey);
        .row-selector-cell-container {
            .form-check {
                align-items: flex-start;
            }
        }
    }
    .table-row--head {
        background: var(--secondary);
        .table-cell {
            padding: 10px 5px;
        }
    }
    .tbody {
        .row-selector-cell-container {
            padding: 10px 5px;
        }
    }
    .table-row {
        border-bottom: 1px solid var(--border-grey);
        flex-wrap: wrap;
        &:last-child {
            margin-bottom: rem(50);
        }
    }
    .table-row-wrap {
        width: 100%;
        display: flex;
    }
    .table-cell {
        position: relative;
        &:hover {
            .cell-edit {
                display: block;
            }
        }
        &.column-heading {
            color: #204d6f;
            vertical-align: top;
            font-weight: bold;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            &:hover {
                border-left: 1px solid var(--border-grey);
                border-right: 1px solid var(--border-grey);
            }
            &:last-child {
                padding: 0;
                width: rem(53) !important;
            }
            .txt-wrap {
                display: none;
                margin-top: 5px;
                &.open {
                    display: block;
                }
            }
            .txt {
                width: 100%;
            }
            i {
                margin-left: 5px;
            }
            .sort-desc {
                transform: rotate(-180deg);
            }
        }
    }
    .action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-right: 5px;
        box-sizing: border-box;
        padding: 10px 5px;
        .icon-arrow-up {
            transform: rotate(-180deg);
        }
    }
    .expand {
        width: 100%;
    }
    .resizer {
        right: -5px;
        width: 10px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        touch-action: none;
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }
    .row-options-wrap {
        position: relative;
    }
    .icon-row-options {
        position: relative;
        cursor: pointer;
        width: rem(15);
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
            background: #999999;
            width: 4px;
            height: 4px;
            display: block;
            margin-bottom: 2px;
        }
    }
    .row-options-overlay {
        display: block;
        position: absolute;
        background: #fff;
        border-radius: 4px;
        border: #dadada solid 1px;
        width: auto;
        right: 0;
        top: 0;
        padding: rem(15) rem(10);
        margin-bottom: rem(40);
        z-index: 9;
        white-space: nowrap;
        li {
            margin-bottom: rem(13);
            cursor: pointer;
            &:last-child {
                margin: 0;
            }
            i {
                width: rem(14);
                display: inline-block;
                &.default {
                    position: relative;
                    &:before {
                        background-color: var(--default);
                        width: 6px;
                        height: 6px;
                        content: "";
                        position: absolute;
                        border-radius: 50%;
                        top: -6px;
                        left: 2px;
                    }
                }
            }
            span {
                margin-left: 8px;
                padding-right: 5px;
            }
        }
        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: rem(15);
            color: #ccc;
            cursor: pointer;
        }
    }
    .cell-edit {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        color: #dadfe9;
        display: none;
        @media screen and (max-width: 1024px) {
            display: block;
            right: 0;
        }
    }
    .table-cell--content {
        a {
            font-size: 2em;
            color: #333;
        }
    }
    .table-cell--content-edit {
        display: flex;
        position: absolute;
        z-index: 9;
        background: #fff;
        border: #eee solid 1px;
        top: 5px;
        padding: 5px;
        border-radius: 4px;
        width: auto;
        white-space: nowrap;
        box-shadow: 0px 0px 8px 0px var(--box-shadow);
        input,
        select {
            display: inline-block;
            height: rem(23);
            width: rem(120);
            border-radius: 3px;
            border: var(--light-grey) solid 1px;
            padding: 2px;
            font-size: rem(12);
            margin-right: 5px;
        }
        select {
            height: rem(29);
        }
        .ok {
            width: rem(27);
            height: rem(27);
            background: #169bd5;
            border: #169bd5 solid 1px;
            border-radius: 4px;
            margin: 0 5px;
            position: relative;
            cursor: pointer;
            svg {
                vertical-align: middle;
            }
        }
        .cancel {
            width: rem(27);
            height: rem(27);
            background: #fff;
            border: #d3d3d3 solid 1px;
            border-radius: 4px;
            margin: 0 5px;
            position: relative;
            cursor: pointer;
            svg {
                vertical-align: middle;
            }
        }
    }
}
