@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid-header {
    background-color: var(--secondary);
    display: flex;
    padding: rem(12) rem(4);
    justify-content: space-between;
    &__results {
        display: flex;
        font-size: rem(14);
        color: var(--titlecolor);
        font-weight: $font-weight-bold;
        align-items: center;
        span {
            margin-left: rem(5);
            display: inline-block;
        }
        .showing {
            margin-left: rem(5);
            padding-left: rem(5);
            position: relative;
            &:before {
                content: "";
                position: absolute;
                height: rem(15);
                width: 1px;
                left: 0;
                top: 3px;
                background: var(--default);
            }
        }
    }
    &__utilities {
        display: flex;
        align-items: center;
        .txt-wrap {
            position: relative;
            .txt {
                padding: 1px 0 0 rem(23);
            }
            i {
                position: absolute;
                left: 7px;
                top: 0;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
        .utilities-icon-container {
            position: relative;
            .utilities-icon {
                margin-left: rem(4);
                border: var(--border-grey) solid 1px;
                border-radius: rem(3);
                cursor: pointer;
                line-height: 1px;
                height: rem(32);
                width: rem(32);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__customPanel {
        flex-grow: 1;
        align-items: center;
    }
}
