@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}

.grid-component-container {
    color: var(--text-light);
    font-family: $font-family;
    font-size: rem(12);
    ::placeholder {
        color: var(--placeholder);
    }
    ::-ms-input-placeholder {
        color: var(--placeholder);
    }
    ::-ms-input-placeholder {
        color: var(--placeholder);
    }
    .error {
        color: var(--danger);
    }
    .txt {
        height: 25px;
        border-radius: 3px;
        padding: 1px 0 0 3px;
        font-size: rem(12);
        color: #000;
        border: var(--border-grey) solid 1px;
    }
}
