// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Font Family
$font-family: sans-serif, Arial, "Segoe UI", serif;

// Base Font for HTML
$em-base: 16;
$base-font-size: $em-base + px;

// Header Styles

$header-size: rem(28);
$header-line-height: 1.25em;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 700;

// Body font
$body-font: Arial, segoe ui;
$secondary-font: Arial, segoe ui;
