/*  Root style
*  ------------------------------------------------------ */
:root {
    --default: rgba(26, 72, 105);
    --secondary: #f9fafb;
    --text-light: #566a81;
    --titlecolor: rgba(26, 72, 105);
    --button-blue: #0e4bda;
    --danger: #ff0000;
    --white: #fff;
    --dark-grey: #9ea2a5;
    --light-grey: #ccc;
    --border-grey: #d8d8d8;
    --placeholder: #bbbbbb;
    --box-shadow: rgba(32, 77, 111, 0.2);
    --scroll-track: #f1f1f1;
    --scroll-thumb: #c1c1c1;
    --focus: #199ed8;
    --border-table: #d2d5de;
    --em-base: 16;
}

/*  Global Styles
*  ------------------------------------------------------ */
htm,
body {
    margin: 0 !important;
    padding: 0 !important;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*  Application Styles
*  ------------------------------------------------------ */
.travelId-details,
.flight-details,
.segment-details,
.details-wrap,
.weight-details,
.uld-details,
.revenue-details,
.sr-details,
.queued-details {
    padding: 10px 5px;
}
.remarks-wrap {
    padding: 0 10px 0 100px;
}
.flight-details strong {
    display: block;
    color: #3171b2;
}
.segment-details {
    display: flex;
}
.segment-details i {
    margin: 0 7px;
}
.segment-details img {
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    vertical-align: inherit;
}
.segment-details select ::-ms-expand {
    display: none;
}
.segment-details select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 50px;
}
.segment-details select:hover {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    margin: 0;
    padding: 0;
}
.details-wrap ul li {
    display: inline;
    padding-right: 5px;
    margin-right: 5px;
    position: relative;
}
.details-wrap ul li:last-child {
    padding-right: 0;
    margin-right: 0;
}
.details-wrap ul li.divider {
    color: #dadfe9;
}
.details-wrap ul li span {
    color: #566a81;
}
.details-wrap ul li strong {
    color: #ff6666;
}
.weight-details > strong {
    font-size: 15px;
    color: #40bf5c;
}
.weight-details span {
    display: block;
}
.weight-details span strong {
    color: #566a81;
}
.uld-details ul {
    display: flex;
    flex-wrap: wrap;
}
.uld-details ul li {
    margin-bottom: 5px;
    width: 50%;
}
.uld-details strong {
    color: #566a81;
    font-weight: normal;
    margin-left: 4px;
}
.revenue-details span {
    display: block;
    color: #566a81;
}
.revenue-details span.large {
    font-size: 15px;
}
.sr-details span {
    color: #3171b2;
}
.queued-details span {
    display: block;
}
.queued-details span strong {
    font-weight: normal;
    color: #566a81;
}
.row-edit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.row-edit > div {
    margin: 0 10px;
}
.edit-flight-no,
.edit-weight-percentage {
    margin-bottom: 10px;
}
.remarks-edit {
    margin: 0 10px;
}

/*  CustomPanel Styles
*  ------------------------------------------------------ */
.dropbtn {
    background-color: white;
    color: #566a81;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.dropdown {
    padding: 5px 10px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content .dropdown {
    padding: 0;
}
.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
}

/*  Selected rows display section Styles
*  ------------------------------------------------------ */
.selectedRows {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}
.selectedRows .selectedRow {
    display: flex;
    flex-wrap: wrap;
    min-width: 120px;
}
.selectedRows .selectedRow p,
button {
    margin: 3px 10px;
}

/*  CUstom class style
*  ------------------------------------------------------ */
.icargoCustomClass .neo-grid-header .neo-grid-header__results {
    color: red;
}
