/* CustomPanel Styles
* ------------------------------------------------------ */
button:focus {
    outline: none;
    border: 0;
}

.dropbtn {
    background-color: white;
    color: #00b4b4;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    border: #00b4b4 solid 1px;
    border-radius: 3px;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    left: -56px;
    top: 35px;
}

.dropdown-content .dropdown {
    padding: 0;
    margin-bottom: 7px;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown__popover {
    display: block;
    border: #333 solid 1px;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
    left: -105px;
}
.dropdown__popover .dropdown {
    border: 0;
}
.dropdown__popover button {
    color: #333;
}
.dropdown:hover .dropbtn {
    background-color: white;
}
