.neo-header {
    box-shadow: 0px 0px 4px rgba(18, 43, 60, 0.2);
    padding: 15px 20px;
    font-size: 14px;
    .displayFlex {
        display: flex;
        justify-content: space-between;
        .alignLeft {
            display: flex;
            align-items: center;
            .iconLeft {
                width: 13px;
            }
            .leftSpace {
                margin-left: 15px;
                color: #20577f;
            }
        }
        .marginLeft {
            margin-left: auto;
            display: flex;
        }
    }
    .listContent {
        background: #f3fdfa;
        border: 1px solid #97ead5;
        border-radius: 20px;
        padding: 0px 10px;
        margin: 0.2rem;
        color: #1b496a;
        span {
            color: #94889c;
        }
    }
    .secondList {
        .displayFlex {
            display: flex;
            align-items: center;
            justify-content: normal;
            margin-left: 20px;
        }
    }
    .filter__saved {
        z-index: 9;
        box-shadow: 0px 0px 30px rgba(32, 77, 111, 0.4);
        position: fixed;
        height: 100vh;
        width: 350px;
        font-size: 14px;
        color: #1f567e;
        line-height: 32px;
        top: 0px;
        left: 0px;
        transition: 0.5s;
        background: #fff;
        overflow-y: scroll;
        .listsView {
            border-bottom: 1px solid #bcbdd1;
            padding: 15px;
        }
        .alignLeft {
            display: flex;
            align-items: center;
            .marginLeft {
                margin-left: auto;
            }
            .leftSpace {
                margin-left: 15px;
            }
            .selected {
                color: #15aacc;
            }
        }
        .savedFilters {
            padding: 15px;
            .alignLeft {
                display: flex;
                align-items: center;
                .marginLeft {
                    margin-left: auto;
                }
                .leftSpace {
                    margin-left: 15px;
                }
            }
        }
    }
}
