@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}

.txt {
    height: 25px;
    border-radius: 3px;
    padding: 1px 0 0 3px;
    font-size: 12px;
    color: #000;
    border: #cfd0d0 solid 1px;
}
