// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Font Family
$font-family: sans-serif, Arial, "Segoe UI", serif;

// Base Font for HTML
$em-base: 16;
$base-font-size: $em-base + px;

// Header Styles

$header-size: rem(28);
$header-line-height: 1.25em;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 700;

// Body font
$body-font: Arial, segoe ui;
$secondary-font: Arial, segoe ui;

:root {
    --default: #004164;
    --default_hover: #28465b;
    --primary: #00b4b4;
    --primary-light: #e5f7f7;
    --tertiary: #4ccaca;
    --border-green: #99e1e1;
    --titlecolor: #004164;
    --light-grey: #e5ecef;
    --border-light: #d9e3e8;
    --box-shadow: #d9e3e8;
    --border: #bfcfd8;
    --border-grey: #b2c6d0;
    --border-default: #99b3c1;
    --reserved: #7fa0b1;
    --dark-grey: #4c7a92;
    --text-light: #40718b;
    --placeholder: #195473;
    --textcolor: #195473;
    --icon-primary: #8f9eab;
    --icon-secondary: #9bb1bf;
    --primary_hover: #06808d;
    --secondary: #f7fafc;
    --linkcolor: #00b4b4;
    --info: #11cdef;
    --text-dark: #212529;
    --danger: #dc3545;
    --danger_hover: #c82333;
    --danger_border: #bd2130;
    --success: #2dce89;
    --success_hover: #218838;
    --success_border: #1e7e34;
    --grey: #76728c;
    --white: #fff;
    --orange: #ff6400;
    --warning: #ffc107;
    --warning_hover: #e0a800;
    --warning_border: #d39e00;
    --danger_light: #f9eaea;
    --success_light: #eafaf3;
    --warning_light: #fef9ea;
    --focus: #199ed8;
    --form-label: #59839a;
    --font: "Roboto", sans-serif;
    --em-base: 16;
}

// :root {
//     --default: rgba(26, 72, 105);
//     --default_hover: rgba(40, 70, 91);
//     --primary: rgba(0, 164, 170);
//     --primary-light: rgba(0, 164, 170, 0.1);
//     --primary_hover: #06808d;
//     --secondary: #f9fafb;
//     --tertiary: rgba(0, 164, 170, 0.7);
//     --linkcolor: #00b4b4;
//     --info: #11cdef;
//     --text-light: #566a81;
//     --text-dark: #212529;
//     --titlecolor: rgba(26, 72, 105);
//     --reserved: rgba(26, 72, 105, 0.5);
//     --danger: #ff0000;
//     --success: #2dce89;
//     --grey: #76728c;
//     --white: #fff;
//     --orange: #fb6340;
//     --border: rgba(26, 72, 105, 0.25);
//     --border-grey: #d8d8d8;
//     --placeholder: rgba(26, 72, 105, 0.9);
//     --box-shadow: rgba(32, 77, 111, 0.2);
//     --focus: #199ed8;
//     --em-base: 16;
// }
